<footer class="justify-evenly text-xs p-4 hidden laptop-sm:flex text-[#aaa] font-semibold bg-black">
    <div class="flex flex-1 justify-evenly">
        <div>PRIVACY POLICY</div>
        <div>TERMS OF USE</div>
        <div>CODE OF CONDUCT</div>
    </div>
    <div class="flex-[0.5]">
        Made with love by PROJECT NOVUS
    </div>
    <div class="flex justify-around flex-[0.7]">
        <div>linkedIn</div>
        <div>Insta</div>
        <div>Gmail</div>
        <div>Call</div>
    </div>
</footer>
