.fil6 {fill:#2F4282}
.fil1 {fill:#2F4282;fill-rule:nonzero}
.fil4 {fill:#3983BA;fill-rule:nonzero}
.fil3 {fill:#3B68AF;fill-rule:nonzero}
.fil5 {fill:#3D88BE;fill-rule:nonzero}
.fil0 {fill:#6EA0CC;fill-rule:nonzero}
.fil2 {fill:#70A9D5;fill-rule:nonzero}

.sidenav{
    transition: 0.5s;
}