<main>
    <section id="section" class="h-[50vh] laptop-sm:h-[100vh]
    bg-cover bg-center laptop-sm:bg-center hero-section
bg-[url('https://images.pexels.com/photos/3254725/pexels-photo-3254725.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')]
laptop-sm:bg-[url('https://images.pexels.com/photos/3763190/pexels-photo-3763190.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')]">
<app-header class="relative z-10" ></app-header>
    
<div class="flex items-center  flex-col justify-center relative top-[30%]">
    <div id="title" class="text-white w-[75%] laptop-sm:w-[60%] flex-col flex items-center justify-center gap-[3%] bg-white p-3 mt-8  font-bold tracking-wide text-center">
        <span class="laptop-sm:text-7xl text-3xl" id="text1"></span>
        <span class="laptop-sm:text-7xl text-3xl" id="text2" ></span>
    </div>
    <!-- <span routerLink="/about" class="callToAction z-[9] text-black font-bold tracking-tight bg-blue-700  opacity-0 mt-5  cursor-pointer laptop-sm:text-3xl text-xl"></span> -->
</div>

</section>
<section class="section-two p-4 laptop-sm:p-[4%] text-[#333333] flex flex-col items-center bg-[#FFFFFF]">
    <!-- <div class="text-4xl font-bold laptop-sm:text-8xl my-8">
        Who Are We
        <hr>
    </div> -->
    <div class="text-lg laptop-sm:text-2xl px-4 laptop-sm:p-">
        <p>
            Gulfex is a premier financial institution, distinguished by our team of seasoned financial and sales experts, who bring decades of experience and deep market knowledge to the table. We offer a diverse portfolio of financial products and services across the UAE, catering to the unique needs of individuals, businesses, and high-net-worth clients. Our mission is to become the leading and most efficient service advisor in the UAE, a goal we pursue by delivering tailored, client-centric solutions that are precisely aligned with the financial aspirations of our customers.
            <br><br>
            At Gulfex, we pride ourselves on our commitment to excellence, transparency, and integrity in every interaction. We take the time to understand the financial goals of our clients, offering personalized advice and products that not only meet but exceed expectations. Whether you're seeking financing options ,wealth management, or insurance solutions, our team is dedicated to guiding you through every step of your financial journey with expertise and care.
            <br><br>
            Our vision is to set a new standard in the financial services industry, with trust and client satisfaction at the forefront of our success. By leveraging cutting-edge technology and staying attuned to market trends, Gulfex provides clients with the most current and relevant advice. We are more than a financial institution—we are your trusted partner in achieving long-term financial success. As we expand and refine our services, our unwavering focus remains on one core principle: always putting our clients' needs first.
        </p>
    </div>
       
</section>
<section class="section-two p-4 laptop-sm:p-[4%] text-[#fff] flex flex-col items-center bg-[#2f4282]">
    <div class="text-3xl tablet:4xl font-bold laptop-sm:text-6xl my-8">
        Meet Our Founder
        <hr>
    </div>
    <div class="flex items-center flex-col justify-center tablet:flex-row">
        <div>
            <img src="../../../assets/parvezFounder.jpeg" alt="GULFEX CEO"
            class="w-[250px] rounded-3xl tablet:w-[300px] laptop-sm:w-[300px]">
        </div>
       <div class="bg-black hidden tablet:block tablet:w-[40%] rounded-tr-3xl rounded-br-3xl laptop-sm:w-[50%] py-[4%] px-[2%]">
        <div class="text-2xl my-6">
            <strong>
                Parvez Ahmed 
            </strong>
            <br>
            Founder & CEO
        </div>
        <div class="flex items-baseline gap-1">
            <span class="w-[33px] h-[33px]"><svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 50 50" fill="#E59767"><path d="M15.6,3.14l3.84,3.84c-1.86,3.26-3.49,6.48-4.88,9.68c-1.4,3.2-2.21,6.31-2.44,9.33l8.72,1.92v16.92H2V32.62   c0-7.21,1.42-13.05,4.27-17.53C9.12,10.61,12.23,6.63,15.6,3.14z M41.77,3.14l3.84,3.84c-1.86,3.26-3.49,6.48-4.88,9.68   c-1.4,3.2-2.21,6.31-2.44,9.33L47,27.91v16.92H28.16V32.62c0-7.21,1.42-13.05,4.27-17.53C35.28,10.61,38.39,6.63,41.77,3.14z" fill="#E59767"></path></svg></span>
            <p class="text-lg">
                Our Founder is a dynamic banker with rich experience in Retail, Corporate & Private Banking in UAE. <br>
                He has worked on senior positions as top ranked individual of the bank. <br>
                Dexterous in building and managing wide team of experts.
            </p>
        </div>
       </div>
       <div class="bg-black mt-4 tablet:hidden rounded-3xl rounded-br-3xl py-[4%] px-[2%]">
        <div class="text-2xl text-center ">
            <strong>
                Parvez Ahmed 
            </strong>
            <br>
            Founder & CEO
        </div>
        <div class="flex items-baseline gap-1">
            <span class="w-[33px] h-[33px]"><svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 50 50" fill="#E59767"><path d="M15.6,3.14l3.84,3.84c-1.86,3.26-3.49,6.48-4.88,9.68c-1.4,3.2-2.21,6.31-2.44,9.33l8.72,1.92v16.92H2V32.62   c0-7.21,1.42-13.05,4.27-17.53C9.12,10.61,12.23,6.63,15.6,3.14z M41.77,3.14l3.84,3.84c-1.86,3.26-3.49,6.48-4.88,9.68   c-1.4,3.2-2.21,6.31-2.44,9.33L47,27.91v16.92H28.16V32.62c0-7.21,1.42-13.05,4.27-17.53C35.28,10.61,38.39,6.63,41.77,3.14z" fill="#E59767"></path></svg></span>
            <p class="text-md">
                Our Founder is a dynamic banker with rich experience in Retail, Corporate & Private Banking in UAE. <br>
                He has worked on senior positions as top ranked individual of the bank. <br>
                Dexterous in building and managing wide team of experts.
            </p>
        </div>
       </div>
    </div>
</section>
<app-contact-social></app-contact-social>

</main>
