<main class="overflow-hidden">
    <section id="section" class="h-[50vh] laptop-sm:h-[100vh]
    hero-section relative w-full ">
    <app-header [scroll]="scroll" class="relative z-10" ></app-header>
    <div class="w-full h-full relative top-[-20%] laptop-sm:top-0 vdo-container">
        <video
        #backgroundVideo
        autoplay
        muted
        playsinline
        loop
        (loadedmetadata)="onVideoLoaded($event)"
        (timeupdate)="onTimeUpdate($event)"
      >
        <source src="../../../assets/bg-video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>  
    </div>

</section>
<section class="section-two p-4 laptop-sm:p-[4%] text-[#333333] flex flex-col items-center bg-[#FFFFFF]">
    <div class="text-xl font-bold laptop-sm:text-3xl my-8">
        Who Are We
        <hr>
    </div>
    <div class="text-md laptop-sm:text-lg px-4 laptop-sm:px-40">
        <p>
           
           GULFEX is a premier financial institution, led by a team of seasoned financial & sales experts, offering diverse portfolio of financial products and services across UAE.
            We aim at becoming the leading and most efficient service advisor in UAE by providing appropriate service based on the financial needs of the end consumers.
        </p>
        </div>
        <button routerLink="/about" class="z-[9] py-3 px-4 laptop-sm:py-4 laptop-sm:px-5 w-[100%] laptop-sm:w-max text-white font-bold tracking-tight bg-black  mt-5  
        cursor-pointer text-md laptop-sm:text-lg">
        KNOW MORE
    </button>
</section>
<section class="section-three
p-4 laptop-sm:p-[4%] text-[#fff] flex flex-col items-center bg-[#2f4282]">
        <div class="text-xl font-bold laptop-sm:text-3xl my-8">
        Our Services
        <hr>
        </div>
        <div class="grid grid-cols-1 gap-5 laptop-lg:grid-cols-3  laptop-sm:grid-cols-2">
            <div routerLink="/services" class="p-6 hover:scale-105 transition-all cursor-pointer" *ngFor="let service of servicesData">
                <div class="services-svg-container" [innerHTML]="service.src"></div>
                <div class="text-xl mt-6 font-bold laptop-sm:text-2xl">
                    {{service.title}}
                </div>
                <div class="text-md">
                    <p>{{service.desc}}</p>
                </div>
            </div>
        </div>
        <button routerLink="/services" class="z-[9] py-3 px-4 laptop-sm:py-4 laptop-sm:px-5 w-[100%] laptop-sm:w-max  text-white font-bold tracking-tight bg-black  mt-5  
        cursor-pointer text-md laptop-sm:text-lg">
        OUR SERVICES
        </button>          
</section>
<section  class="section-four
            p-4 laptop-sm:p-[4%] text-[#333333] flex flex-col items-center bg-white">
        <div class="flex flex-col items-center">
            <div class="text-xl font-bold laptop-sm:text-3xl my-8">
                Our Expertise
                <hr>
            </div>
            <div class="flex flex-col laptop-sm:flex-row justify-around items-center gap-5 ">
                <div *ngFor="let data of expertiseData">
                    <div class="text-xl mt-6 font-bold laptop-sm:text-2xl">{{data.title}}</div>
                    <div class="text-md tablet:text-lg">{{data.desc}}</div>
                </div>
            </div>            
        </div>
</section>
<section class="section-five
p-4 laptop-sm:p-[4%] text-[#fff] flex flex-col items-center bg-[#2f4282]">
        <div class=" text-2xl tablet:text-4xl font-bold laptop-sm:text-6xl my-4">
        Careers
        <hr>
        </div>
        <div>
            <div class=" flex flex-col gap-4 tablet:flex-row  py-[4%] px-[2%]">
                <div class="tablet:w-[70%]">
                    <p class="text-lg font-medium">
                        Gulfex is dedicated to transforming staff into highly skilled financial professionals. <br>
                        We actively recruit for various roles across our teams, offering opportunities for career growth in the financial sector. <br>
                        If you're seeking your next career move in banking or finance, we invite you to explore the exciting opportunities available at Gulfex.
                    </p>
                </div>
                <hr class="tabler:hidden">
                <div class="flex flex-col w-[85%] gap-2 justify-evenly text-md">
                    <div  class="flex items-start" >
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <span>
                            We provide competitive salaries along with flexible working hours.
                        </span>
                    </div>
                    <div class="flex items-start">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <span>
                            Comprehensive training is offered to ensure you are fully prepared before starting in the field.
                        </span>
                    </div>
                    <div class="flex items-start">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <span>
                            Numerous career opportunities are available, ranging from entry-level positions to executive roles.
                        </span>
                    </div>
                </div>
               </div>
        </div>   
</section>
<app-contact-social></app-contact-social>
</main>
